POSTGRES_USER=yo
POSTGRES_PASSWORD=una_clave_muy_segura_123
POSTGRES_DB=ssbw
DATABASE_URL=postgresql://yo:una_clave_muy_segura_123@127.0.0.1:55432/ssbw?schema=public
SECRET_KEY=my_super_secret_key_123
LOG_LEVEL=info