--
-- PostgreSQL database dump
--

\restrict HfUJT8ezqJRKp6i0bgU2Znv0nu45V4xvQuYFAzFLZalcK5PpdcmSxLY0MMnWePX

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Producto; Type: TABLE; Schema: public; Owner: yo
--

CREATE TABLE public."Producto" (
    id integer NOT NULL,
    titulo character(127) NOT NULL,
    descripcion text NOT NULL,
    precio numeric(65,30) NOT NULL,
    imagen character(127) NOT NULL
);


ALTER TABLE public."Producto" OWNER TO yo;

--
-- Name: Producto_id_seq; Type: SEQUENCE; Schema: public; Owner: yo
--

CREATE SEQUENCE public."Producto_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Producto_id_seq" OWNER TO yo;

--
-- Name: Producto_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: yo
--

ALTER SEQUENCE public."Producto_id_seq" OWNED BY public."Producto".id;


--
-- Name: Usuario; Type: TABLE; Schema: public; Owner: yo
--

CREATE TABLE public."Usuario" (
    email character(127) NOT NULL,
    nombre character(127) NOT NULL,
    contrasena text NOT NULL,
    admin boolean DEFAULT false NOT NULL
);


ALTER TABLE public."Usuario" OWNER TO yo;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: yo
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO yo;

--
-- Name: Producto id; Type: DEFAULT; Schema: public; Owner: yo
--

ALTER TABLE ONLY public."Producto" ALTER COLUMN id SET DEFAULT nextval('public."Producto_id_seq"'::regclass);


--
-- Data for Name: Producto; Type: TABLE DATA; Schema: public; Owner: yo
--



--
-- Data for Name: Usuario; Type: TABLE DATA; Schema: public; Owner: yo
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: yo
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
6a1f7192-5938-431c-b3ab-ea74e7d416ad	1baa9c0c2fab1bff9a2a5bf9d3b6a1d50c85d237ecc95b2493a2c0736ee4bcd2	2026-03-18 18:17:30.002172+00	20260318181729_esquema_inicial	\N	\N	2026-03-18 18:17:29.966668+00	1
287fde0c-6e09-4c36-b145-14571969480a	188293530df6948cc7200da50be3f5f20036e03e5b3c0cae9eca8aaa837e5e80	2026-04-01 17:57:33.634036+00	20260401175733_con_usuario	\N	\N	2026-04-01 17:57:33.526458+00	1
\.


--
-- Name: Producto_id_seq; Type: SEQUENCE SET; Schema: public; Owner: yo
--

SELECT pg_catalog.setval('public."Producto_id_seq"', 117, true);


--
-- Name: Producto Producto_pkey; Type: CONSTRAINT; Schema: public; Owner: yo
--

ALTER TABLE ONLY public."Producto"
    ADD CONSTRAINT "Producto_pkey" PRIMARY KEY (id);


--
-- Name: Usuario Usuario_pkey; Type: CONSTRAINT; Schema: public; Owner: yo
--

ALTER TABLE ONLY public."Usuario"
    ADD CONSTRAINT "Usuario_pkey" PRIMARY KEY (email);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: yo
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict HfUJT8ezqJRKp6i0bgU2Znv0nu45V4xvQuYFAzFLZalcK5PpdcmSxLY0MMnWePX

